<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlugqnba0ff5pT0-DARRh2D7G50eilj8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>757795823003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bryan.congalives</string>
	<key>PROJECT_ID</key>
	<string>myclublives</string>
	<key>STORAGE_BUCKET</key>
	<string>myclublives.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757795823003:ios:e612f2dcc6e3d33f3a153e</string>
	<key>DATABASE_URL</key>
	<string>https://myclublives.firebaseio.com</string>
</dict>
</plist>